<footer>
    <div class="inner">
        <div class="footer-message">
            Word-holic
        </div>
        <div class="footer-contact">
            sujin.susan.lee@gmail.com
        </div>
        <div class="footer-copyright">
            Copyright 2021 &copy; All rights reserved
        </div>
    </div>
</footer>

<a href="" id="backtotop"></a>

<!-- IE 11 -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script> -->

<!-- Vue Start -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- <script type="text/babel" src="js/main.js"></script> -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
