<head>
    <meta charset="UTF-8">
    <title>Word-holic</title>
    <meta name="description" content="Japanese Words Study" />
    <meta name="keywords" content="Online Study, JLPT, Kanji">
    <meta name="author" content="SJ Lee">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Open Graph (Facebook, LinkedIn) -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Word-holic">
    <meta property="og:description" content="Japanese Words Study">
    <meta property="og:image" content="img/main_logo.png">
    <meta property="og:url" content="https://wordholic.site">
    <meta property="og:site_name" content="Word-holic">

    <!-- Twitter Card (Twitter) -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Word-holic">
    <meta name="twitter:description" content="Japanese Words Study">
    <meta name="twitter:image" content="img/main_logo.png">
    <meta name="twitter:url" content="https://wordholic.site">
    <meta name="twitter:creator" content="SJ Lee">

    <!-- General Favicon -->
    <link rel="icon" href="img/favicon.ico">
    <!-- iPhone Favicon -->
    <link rel="apple-touch-icon" href="{ url_for('static', filename='img/favicon.ico') }}">
    <!-- IE Favicon -->
    <link rel="short icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/c1ae289eb2.js" crossorigin="anonymous"></script>

    <!-- font (Open Sans) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- Google Meterial Icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>