{% extends 'base.html' %}

{% block content %}
<section class="main-quiz">
    <div class="inner inner-quiz">
        {{ level }}

        <!-- Select numbers -->
        <div class="select-num">
            How many words do you want?&nbsp;
            <select name="kanji-numbers" id="kanji-numbers" class="kanji-select">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
        </div>
        <div class="quiz">
            {% for kanji in kanji_list %}
                {{ kanji[2] }} <input type="text" name={{ loop.index }}><br>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}